<html>
  <head>
    <title>Registration</title>
    <%- include('../partials/head'); %>
  </head>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <body>
    <h1>Admin Registration</h1>
    <form action="/admin-register" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="code">Registration Code:</label>
        <input type="text" id="code" name="code" required>
        <br>
        <button type="submit">Register</button>
      </form>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>